html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: grey;
  color: white;
  box-sizing: border-box;
}

#canvasContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  min-height: 80vh;
  width: 100%;
}

.canvas {
  position: absolute;
  border: 4px solid black;
}

#colorCanvas {
  cursor: url(../images/custom-crosshair.png) 8 8, pointer;
}

#gridCanvas {
  pointer-events: none;
}
