body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  box-sizing: border-box;
}
h1 {
  color: green;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 1px;
  background-color: grey;
  border: 1px solid grey;
  width: 100%;
  height: auto;
}

/* Define each grid item */
.pixel {
  height: auto;
  width: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

/* Unselected pixel styling */
.pixel.false {
  background-color: white;
}

/* Selected pixel styling */
.pixel.true {
  background-color: black;
}

.clear-button {
  margin: 20px;
  font-size: 16px;
}
